.rendered-markdown {
  br { display: none; } // Unsure why, but Kramdown is all about putting <br> everywhere.
}

.navbar{
  margin-bottom: 0;
}

.top10{
  margin-top: 10px;
}

.margin-profile {
  @media screen and (min-width: $screen-xs-max) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.bottom10{
  margin-bottom: 10px;
}

.btn-large{
  min-width: 100px;
}

.btn-all-width {
  width: 100%;
}

.text-area-wide{
  max-width: 100%;
  min-width: 40%;
  min-height: 38px;
}